.conteudo{
display: flex;
justify-content: space-between;

}

.cartao{
background-color:rgb(66, 125, 159);
color:#fff;
border-radius: 20px;
height: 10rem;
flex-grow: 2;
flex-basis: calc(33% - 6rem);
margin: 1rem 1rem;




}

.cartao:hover{
     background-color:rgb(39, 110, 110)



}

.cartao-resposta{

font-size: 20px;

}

footer{
background-color: black;
color: #fff;
position: fixed;
bottom:0;
width:100px;
height:25px;
font-size:14px;




}