.conteudo{
display: flex;
justify-content: space-between;

}

.cartao{
background-color:rgb(66, 125, 159);
color:#fff;
border-radius: 20px;
height: 10rem;
flex-grow: 10;
flex-basis: calc(33% - 6rem);
margin: 4rem 1rem;




}

.cartao:hover  .cartoa--conteudo{
     background-color:rgb(39, 110, 110);
     transform: rotateY(180deg);


}


.cartao-resposta{

font-size: 20px;

}
 .cartoa--conteudo{
     transform-style: preserve-3d;
     transition:  transform 300ms ease-in-out

}
 cartao--pergunta, .cartao--resposta{
     backface-visibility: hidden;

 }
 

 .cartao--resposta{
transform: rotateY(180deg);

 }


.rodape{
background-color: black;
color: #fff;
position: fixed;
bottom:0;
width:100px;
height:25px;
font-size:14px;




}